{% extends 'base.html' %}
{% load static %}
{% block title %}ATM Cashflow{% endblock %}
{% block body %}
    {% include 'navigator.html' %}

    <link rel="shortcut icon" href="{% static 'img/icon.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.ui.datepicker-ru.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/admin.js' %}"></script>

    {% if error_message %}
        <div class="error"> {{ error_message }}</div>
    {% endif %}
    {% if success_message %}
        <div class="success">{{ success_message }}</div>
    {% endif %}

    <div class="intro" style="margin-top: 50px;">
        <div class="video">
            <video class="video_media" src="{% static 'media/Video.mp4' %}" autoplay muted loop></video>
        </div>
        <div class="intro_content">
            <div id="container">
                <div id="content">
                    <form id="main_form" action="/" method="POST" enctype="multipart/form-data"
                          style="padding-top:15px;">
                        {% csrf_token %}
                        <div id="main_info">
                            <label for="date">Дата: </label>
                            <input type="text" name="date" id="date" class="items">
                            <label for="festival">Праздничный день: </label>
                            <select id="festival" class="festival items" name="festival">
                                <option value=0>Нет</option>
                                <option value=1>Да</option>
                            </select>
                            <label for="working_day">Рабочий день: </label>
                            <select id="working_day" class="working_day items" name="working_day">
                                <option value=1>Да</option>
                                <option value=0>Нет</option>
                            </select>
                        </div>
                        <p id="total_head" style="display:none;"><strong>Необходимая сумма для внесения в
                            банкоматы:</strong></p>
                        <p id="total" style="display:none;"><span></span> руб.
                        </p>
                        <p id="total1" style="display:none"><span></span> руб.
                        </p>
                        <p id="total2" style="display:none"><span></span> руб.
                        </p>
                        <p id="total3" style="display:none"><span></span> руб.
                        </p>
                        <p id="total4" style="display:none"><span></span> руб.
                        </p>

                        <input type="button" value="Рассчитать" id="calculation_for_all">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}